
.container{
    padding:0px;
    margin:-20px;
}
.sub-container1{
    background-color: black;
    padding:0;
    margin:-20px;
}
header{
    color:rgb(255, 0, 0);
    margin:20px;
}
.topsec{
    display:flex;
    align-items: center;
    
    
}
.flex-topsec{
    padding:10px;
}
#logoname{
    flex-grow:0.8;
}
.sub-container2{
    background-color: rgb(21, 21, 21);
    margin:0;
}
#frontpagetext{
    color:rgb(186, 186, 186);
    font-weight: 1000;
    font-size: 100px;
    margin:0px;
    padding:200px;
    
    
}
.btn{
    border:none;
    background-color: black;
    color:rgb(255, 0, 0);
}
.btn:hover{
    cursor: pointer;
    color:rgb(135, 135, 135);
}

